
.custom-btn button{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;

}
.custom-btn {
    background-color: #75C2F6;
    border-radius: 6px;
    
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-icon{
    font-size: 16px;
    margin-right: 0.2rem;
}

/* 3 */
.btn-3 {
    background: #75C2F6;
    width: 130px;
    height: 45px;
    padding: 0;
    border: none;
    
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: #75C2F6;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }

  .btn-3 button:hover{
     color: #75C2F6;
  }
  .btn-3 button:before,
  .btn-3 button:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background:  #75C2F6;
    transition: all 0.3s ease;
  }
  .btn-3 button:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 button:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 button:hover:before {
    height: 100%;
  }
  .btn-3 button:hover:after {
    width: 100%;
  }
